@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9faff;
}

.hide-handle {
  visibility: hidden;
}

.main-content {
  padding-top: 5rem;
}

@media (max-width: 768px) {
  video.bg-video {
    display: none;
  }
}
